[submodule "c2trash/plugins/switchblade"]
	path = c2trash/plugins/switchblade
	url = https://github.com/jdbivens42/switchblade
    ignore = dirty
[submodule "c2trash/plugins/metasploit/mpc"]
	path = c2trash/plugins/metasploit/mpc
	url = https://github.com/g0tmi1k/mpc/
    ignore = dirty
